{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Liên hệ📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">Đối với bất kỳ câu hỏi và gợi ý nào, hãy liên hệ với chúng tôi. Chúng tôi rất vui khi được giúp đỡ.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>GVHD: Th.S Trương Thị Thanh </h3>
                <p class="lead" style="font-weight: 350;">Giáo viên trường THPT Chuyên Thái Nguyên</p>
            </center>
            <div>
                <h5>Thông tin liên hệ:</h5><br>
                <a target="_blank" href='mailto:thanhchuyentn@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" height="40" width="40"></a> :
                thanhchuyentn@gmail.com<br><br>
                <a target="_blank" href='https://www.facebook.com/vdquang1991'><img
                        src="https://png.pngtree.com/png-clipart/20181003/ourmid/pngtree-facebook-social-media-icon-facebook-logo-png-image_3654772.png" height="44"
                        width="44"></a> : FB: truongthithanh <br><br>
                <a target="_blank" href='tel:123-456-7890'><img
                        src="https://png.pngtree.com/png-clipart/20210216/ourmid/pngtree-phone-icon-in-circle-black-png-image_5994540.png" height="40" width="40"></a> :
                tel:123-456-7890<br><br>

            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Học sinh 1: Đỗ Tiến Trọng - Tin 11</h3>
                <h3>Học sinh 2: Nguyễn Mạnh Hiệp - Tin 10</h3>
                <p class="lead" style="font-weight: 350;">Xin chào các bạn, nhóm chúng mình gồm Đỗ Tiến Trọng và Nguyễn Mạnh Hiệp, trường THPT Chuyên Thái Nguyên.
                    Chúng mình phát triển ứng dụng phát hiện các bệnh răng miệng và đưa ra phương pháp điều trị dựa trên AI với sự
                    hướng dẫn của cô giáo Trương Thị Thanh.
                </p>
            </center>
            <div>
                <h5>Thông tin liên hệ:</h5><br>
                <a target="_blank" href='mailto:dotientrongtn@gmail.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" height="40" width="40"></a> :
                dotientrongtn@gmail.com<br><br>
                <a target="_blank" href='https://www.facebook.com/profile.php?id=100093706703096'><img
                        src="https://png.pngtree.com/png-clipart/20181003/ourmid/pngtree-facebook-social-media-icon-facebook-logo-png-image_3654772.png" height="44"
                        width="44"></a> : FB: dotientrong <br><br>
                <a target="_blank" href='tel:123-456-7890'><img
                        src="https://png.pngtree.com/png-clipart/20210216/ourmid/pngtree-phone-icon-in-circle-black-png-image_5994540.png" height="40" width="40"></a> :
                tel:123-456-7890<br><br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}