{% extends 'base.html' %}
{% block pagetitle %}
{{title}}
{% endblock pagetitle %}
{% block body %}

<div>
  <div class="container">
    <!-- For demo purpose -->
    <div class="row mb-5 text-center text-white">
      <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>{{title}}🍂</b></h1>
      </div>
    </div>
    <center>
    <div class=" row">
          <div class="p-5 bg-white shadow rounded-lg" >

            <img src={{input_image_url}} width="350" height="350">

            <img src={{image_url}} width="350" height="350">

          </div>

      </div>
      </center>
      <br>
      <div class=" row ">
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">

            <h5><b>
                {% if pred==3 or pred==5 or pred==7 or pred==11 or pred==15 or pred==18 or pred==20 or pred==23 or
                pred==24 or pred==25 or pred==28 or pred==38 %}
                Mô tả ngắn gọn:
                {% else %}
                Mô tả ngắn gọn:
                {% endif %}
              </b></h5>
            <p>{{desc|safe}}
            </p>
              <h5><b> Nếu các bạn có câu hỏi nào, có thể  <a target="_blank" href="https://smart-dental-care.vercel.app/"> click vào đây </a> để nhận hỗ trợ từ ChatBot của chúng tôi </b></h5>
              <h5><b> Nếu các bạn muốn livestream trò chuyện cùng chúng tôi, các bạn có thể <a target="_blank" href="https://smart-dental-live.vercel.app/"> click vào đây </a> để bắt đầu cuộc trò chuyện. </b></h5>
<!--              <a target="_blank" href="https://smart-dental-care.vercel.app/">ChatBot</a>-->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mx-auto">
          <div class="p-5 bg-white shadow rounded-lg" style="height:95%">
            <h5><b>
                {% if pred==3 or pred==5 or pred==7 or pred==11 or pred==15 or pred==18 or pred==20 or pred==23 or
                pred==24 or pred==25 or pred==28 or pred==38 %}
                Câu chuyện vui về hình ảnh răng miệng của bạn:
                {% else %}
                Câu chuyện vui về hình ảnh răng miệng của bạn:
                {% endif %}
              </b></h5>
            <p>
              {{prevent|safe}}
            </p>
          </div>
        </div>

        {% if pred!=4 %}
        <div class="col mx-auto"">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
          <center>
            <h5><b>
                {% if pred==3 or pred==5 or pred==7 or pred==11 or pred==15 or pred==18 or pred==20 or pred==23 or
                pred==24 or pred==25 or pred==28 or pred==38 %}
                Thuốc/Thực phẩm bổ sung:
                {% else %}
                Thuốc/Thực phẩm bổ sung:
                {% endif %}
              </b></h5>
            <br>
            <img src={{simage}} width="300" height="350">
            <br>
            <br>
            <h6>{{sname}}</h6>

            <a target="_blank" href={{buy_link}}><button type="button" class="btn btn-success"
                style="background-color: #05380b;">Mua sản phẩm</button></a>
          </center>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock body %}